<app-header></app-header>

<ion-content class="background-img-about center-about">
	<ion-grid>
		<ion-row class="about">
			<ion-col size="12">
				<!-- <img src="../../assets/images/logo.png" alt="">	 -->
				<h2 translate>menu.about</h2>
				<ion-col size="12" [innerHTML]="text | safe:'html'"></ion-col>
			</ion-col>
			
		</ion-row>
	</ion-grid>
</ion-content>
