.center-about {
	ion-grid {
		height: auto;
		display: flex;
		// align-items: center;
		background-color: rgba(255,255,255,0.8);

		.about {
			img{
				margin: auto;
				padding-right: 20px;
				width: 130px;
    			height: 55px;
				display: flex;
			}
			h2{
				padding-left: 10px;
				margin-top: 30px !important;
			}
			

			/deep/ p {
				line-height: 1.5;
				// color: var(--ion-color-cinzamedio);
				padding: 0px 5px;
				margin: 5px 0px 0px 0px;
			}
		}
	}
}
