<ion-header no-border class="header-components">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button>
                <img src="../../assets/images/icon/menu-icon.png" alt="">
            </ion-menu-button>
        </ion-buttons>
        <img src="../../assets/images/logo.png" alt="">
        <ion-buttons slot="end">
            <ion-button (click)="notifications($event)">
                <ion-icon name="notifications-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>