ion-grid {
    //height: calc(100% - 190px);
    display: flex;
    align-items: center;
    background-color: rgba(255,255,255,0.8);

    .about {
        text-align: center;
        padding-bottom: 150px;

        /deep/ p {
            line-height: 1.5;
            // color: var(--ion-color-cinzamedio);
            padding: 0px 5px;
        }
    }
    
}
.segment-products {
    // border-top: 1px solid var(--ion-color-border);
    // border-bottom: 1px solid var(--ion-color-border);
}
ion-header {
	background: var(--ion-color-background);
}

ion-content, ion-toolbar {
	--background: var(--ion-color-background);
}

ion-segment-button {
    --background: #FFFFFF;
    --background-checked: var(--ion-color-medium);
    --color: var(--ion-color-cinzaclaro);
    --border-radius: 0;
    --border-width: 0;
    --padding-top: 4px;
    --padding-bottom: 4px;
    --indicator-color: transparent;
    --indicator-color-checked: transparent;

    ion-label {
        font-size: 15px;
    }
}
.list{
    margin: 10px;
    margin-bottom: -25px;
}
.list-ios{
    margin-bottom: 10px !important;
}
.button-aproved{
    height: 30px;
    background-color: #FFFFFF;
    border: 1px solid #C4C704;
    color: #C4C704;
    font-size: 10px;
    --background-color: rgba (0, 153, 73, 0.5);
}
.title{
    color: #000000;
}
ion-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
ion-row{
    padding: 10px 0px 0px 3px;
    .date{
        // color: blue;
        font-size: 12px;
        margin-left: 5px;
    }
}
.text-div{
    text-align: center;
    font-size: 15px;
    margin: 15px;
    color: dimgray;
}

