<app-header></app-header>
<ion-content>
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<h2 padding translate>menu.innovations</h2>
	
    <div class="segment-products">
        <ion-segment mode="md">
            <ion-segment-button value="innovation" checked>
                <ion-label translate>innovation</ion-label>
            </ion-segment-button>

            <ion-segment-button (click)="newInnovation($event)" value="newInnovation">
                <ion-label translate >newInnovation</ion-label>
            </ion-segment-button>
        </ion-segment>
	</div>
	<div class="text-div" translate>
		text-innovation
	</div>
	<div id="essa" *ngIf="allItems"  class="list">
		<ion-list *ngFor="let products of allItems" [routerLink] = "['/pages/menu/docs/innovation-detail/', products.id]" lines="none">
			<ion-row>
				<ion-col size="9">
					<ion-row class="title">
						{{products.title}}
					</ion-row>	
					<ion-row >
						<ion-icon name="calendar"></ion-icon><span class="date">{{products.date}}</span>
					</ion-row>
				</ion-col>
				<ion-col size="3">
					<button class="button-aproved ">{{products.status}}</button>
				</ion-col>
			</ion-row>
		</ion-list>
	</div>
</ion-content> 

