
<ion-list no-padding no-margin>
    <ion-list-header color="dark">
      <ion-label class="fw700" translate="">title_notification</ion-label>
    </ion-list-header>

    <!-- <ion-item color="primary">
      <ion-icon name="mail" color="light"></ion-icon>
      <ion-label class="notfication">Novo Produto adicionado!</ion-label>
    </ion-item>

    <ion-item color="light" class="text-3">
      <ion-icon name="mail-open" color="primary"></ion-icon>
      <ion-label>Novos produtos de cabelo!</ion-label>
    </ion-item> -->
</ion-list>
