<app-header></app-header>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row class="news">
      <ion-col size="12">
        <h2 translate>Space to share</h2>
        <input (click)="postModal()" type="text" class="share-post" placeholder="No que você está pensando?">
      </ion-col>
      <ion-list>

        <ion-item lines="none" *ngIf="loading">
          <ion-col>
            <p size="12" padding>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </p>

            <div size="10">
              <span>
                <ion-icon name="square"></ion-icon>
                <ion-skeleton-text animated style="width: 40px"></ion-skeleton-text>
              </span>
              <span>
                <ion-icon name="square"></ion-icon>
                <ion-skeleton-text animated style="width: 40px"></ion-skeleton-text>
              </span>
            </div>
          </ion-col>
        </ion-item>
        <ion-item *ngFor="let products of allItems" lines="none" no-padding>
          <ion-col>
            <h2 class="h2-name">{{products.user}} - {{products.corporation}} </h2>
            <div >
              <div class="pub" padding>
                <div *ngIf="products.archive == 0 && products.local == 0">
                  <p>{{products.title}}</p>
                </div>
                <div *ngIf="products.archive != 0">
                  <ion-img size="12" [src]="products.archive"></ion-img>
                  <p>{{products.title}}</p>

                </div>
                <div *ngIf="products.local != 0" (click)="openDetail(products.id)">
                  <p>{{products.title}}.PDF</p>

                </div>

                <div size="10">
                  <span>
                    <ion-icon (click)="presentModal(products)" name="ios-chatbubbles"></ion-icon>
                  </span>
                  <span>
                    <ion-icon name="ios-share-alt"></ion-icon>
                  </span>
                </div>
              </div>
            </div>
            <div size="2" class="icons">
              <ion-icon (click)="addLike(products)"
                [class.liked]="products.likes && products.likes[firebaseAuth.auth.currentUser.uid]" name="heart"
                class="heart">
              </ion-icon>
            </div>

          </ion-col>
        </ion-item>
        <!-- <ion-item lines="none" no-padding>
          <ion-col>
            <h2 class="h2-name">Henrique Otremba - YO</h2>
            <div>

              <div padding>
                <ion-item class="file-item" lines="none" no-padding>

                  <ion-col (click)="openDetail('-Lp0ZNsqUDDfAJvuCO8V')" no-padding>
                    <p size="12">Arquivo.PDF</p>

                    <div size="12">
                      <span>
                        <ion-icon name="calendar"></ion-icon>
                        03/02/2020
                      </span>
                    </div>
                  </ion-col>
                </ion-item>git
                <p size="12">A máscara anti-poluição é formulado com ingredientes suaves, ideais para cabelos com frizz
                  e sensíveis à poluição. Sua formula hidratante contém Polluout, um ativo vegetal que combate os
                  efeitos da poluição nos fios e no couro cabeludo desde a primeira lavagem. Polluout reduz a aderência
                  de partículas de poluentes, melhora a penteabilidade, aumenta a força e mantém o brilho do cabelo
                  expostos à poluição. Fórmula sem conservantes.</p>

                <div size="10" (click)="presentModal()">
                  <span>
                    <ion-icon name="ios-chatbubbles"></ion-icon>
                  </span>
                  <span>
                    <ion-icon name="ios-share-alt"></ion-icon>
                  </span>
                </div>
              </div>
            </div>
            <div size="2" class="icons">
              <ion-icon (click)="addLike(products)" name="heart" class="heart">
              </ion-icon>
            </div>

          </ion-col>
        </ion-item> -->
      </ion-list>
    </ion-row>
  </ion-grid>
</ion-content>