<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
		   <ion-back-button color="primary"></ion-back-button>
		</ion-buttons>
		<div class="header-title">
			<img src="../../assets/images/logo.png" alt="" />
		</div>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div  class="background-img transparent-img desfoque"></div>
	<div>
		<ion-grid class="transparent-color conteudo">
			<ion-row padding>
				<ion-col size="12">
					<p translate>registration_message</p>
				</ion-col>
				<ion-col size="12">
					<form novalidate [formGroup]="cadastroForm" (ngSubmit)="submitCadastro()">
						<ion-list>
							<ion-item>
								<ion-label position="stacked" translate>name</ion-label>
								<ion-input type="text" formControlName="nome"></ion-input>
							</ion-item>

							<ion-item>
								<ion-label position="stacked" translate>company</ion-label>
								<ion-input type="text" formControlName="empresa"></ion-input>
							</ion-item>

							<ion-item>
								<ion-label position="stacked" translate>email</ion-label>
								<ion-input type="email" formControlName="email"></ion-input>
							</ion-item>

							<ion-item *ngIf="false">
								<ion-label position="stacked" translate>phone</ion-label>
								<ion-input type="tel" formControlName="telefone"></ion-input>
							</ion-item>

							<ion-item>
								<ion-label position="stacked" password>password</ion-label>
								<ion-input type="password" formControlName="password"></ion-input>
							</ion-item>
							<span style="color:red" *ngIf="cadastroForm.controls['password'].errors && !cadastroForm.controls['password'].pristine" translate>invalid_password</span>

							<div class="terms">
								<ion-checkbox color="secondary" (ionChange)="onTermChange($event)"></ion-checkbox><span (click)="openTerms()" ><u style="color: #09578f; font-weight: 700" translate>accept_terms</u></span>
							</div>

							<div padding class="button">
								<ion-button type="submit" shape="round" [disabled]="cadastroForm.invalid" translate>register</ion-button>
							</div>
						</ion-list>
					</form>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
