<ion-header no-border class="header-components">
    <ion-toolbar>
      <ion-buttons slot="start">
             <ion-back-button></ion-back-button>
          </ion-buttons>
          <div class="header-title">
              <img src="../../assets/images/logo.png" alt="" />
          </div>
          <ion-buttons slot="end">            </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <ion-row class="status">
      {{products.status}}
  </ion-row>
    <ion-list lines="none">
      <ion-row class="title">
        <ion-item>
          <ion-label class="font-size" position="stacked">Titulo</ion-label>
          <p>{{products.title}}</p>
        </ion-item>
      </ion-row>
      <ion-row class="desc">
          <ion-item>
            <ion-label class="font-size" position="stacked">Descrição</ion-label>
            <p>{{products.desc}}</p>
          </ion-item>  
      </ion-row>
      <ion-row class="date">
          <ion-item>
            <ion-label class="font-size" position="stacked">Data</ion-label>
            <p>{{products.date}}</p>
          </ion-item>  
      </ion-row>
      <ion-row>
          <ion-col>
              <div class="ion-text-center">
                  <ion-button href="{{products.archive}}">Download</ion-button>
              </div>
          </ion-col>
        </ion-row>
    </ion-list>
  
</ion-content> 

