.status{
    display: flex;
    justify-content: center;
    font-weight: 500;
    padding-bottom: 30px;
    color: green;
    
}
.title{
    display: flex;
    justify-content: center;
    color: #000;
    ion-label{
        color: #000 !important;
        margin: 5px 0px -10px 0px;
    }
    p{
        font-size: 17px;
    }
}
.desc{
    display: flex;
    justify-content: center;
    ion-label{
        color: #000;
        margin: 5px 0px -10px 0px;
    }
    p{
        font-size: 17px;
    }
    ion-input{margin-bottom: 5px;}
    ion-input{margin-top: 8px;}
}
.date{
    
    ion-label{
        color: #000;
        margin: 5px 0px -10px 0px;
    }
    p{
        font-size: 17px;
    }
}
.button{
    display: flex;
    justify-content: center;
    height: 40px;
    margin-bottom: 5px;
}
ion-item{
    width: 100%;
    margin: 0px;
    border-bottom: #c3c3c3 solid 1px;
}
ion-input{
    font-size: 13px;
}
.font-size{
    font-size: 1.5rem;
}
