<div>MEUS INTERESSES</div>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let interesses of AllInteresses" (click)="addValue(interesses.nome)">
      <ion-label>{{interesses.nome}}</ion-label>
      <ion-checkbox [checked]="interesses.status" slot="start"></ion-checkbox>
    </ion-item>
    <div class="button">
      <button-padrao (click)="closeModal()" btn-padrao></button-padrao>
    </div>
  </ion-list>
</ion-content>
