<app-header></app-header>

<ion-content>
	<ion-grid>
		<ion-row class="news">
			<ion-col size="12" class="title">
				<!-- <p translate>menu.doc</p><span translate></span> -->
				<p translate></p><span translate>menu.formulation</span>
			</ion-col>
			<ion-col size="12" class="title" *ngIf="false">
				<ion-searchbar animated></ion-searchbar>
			</ion-col>

			<ion-col size="12" class="category" *ngIf="loading">
				<ion-item lines="none" class="category-title">
					<span class="category-image-skeleton"></span>
					<ion-skeleton-text animated style="width: 60%; height: 1rem;"></ion-skeleton-text>
				</ion-item>
			</ion-col>

			<ion-col size="12" class="category" *ngFor="let item of categories">

				<ion-item lines="none" class="category-title" (click)="openCategory(item)">
					<ion-img src="/assets/images/icon/{{ item.open ? 'folder-open.png' : 'folder-close.png' }}"></ion-img>
					{{item.nome}}
				</ion-item>

				<ion-list mode="md" padding *ngIf="item.open">

					<ion-item (click)="openDetail(item.id)" class="file-item" *ngFor="let item of filterItem" lines="none" no-padding>

						<ion-col no-padding >
							<p size="12">{{ item.nome }}</p>

							<div size="12">
								<span>
									<ion-icon name="calendar"></ion-icon>
									{{item.created_at}}
								</span>
							</div>
						</ion-col>
					</ion-item>
				</ion-list>
			</ion-col>
			<ion-col size="12" class="category" *ngFor="let item of categories1">

				<ion-item lines="none" class="category-title" (click)="openCategory(item)">
					<ion-img src="/assets/images/icon/{{ item.open ? 'folder-open.png' : 'folder-close.png' }}"></ion-img>
					{{item.nome}}
				</ion-item>

				<ion-list mode="md" padding *ngIf="item.open">

					<ion-item (click)="openDetail(item.id)" class="file-item" *ngFor="let item of filterItem1" lines="none" no-padding>

						<ion-col no-padding >
							<p size="12">{{ item.nome }}</p>

							<div size="12">
								<span>
									<ion-icon name="calendar"></ion-icon>
									{{item.created_at}}
								</span>
							</div>
						</ion-col>
					</ion-item>
				</ion-list>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
