<ion-header no-border class="header-components">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon (click)="closeModal()" name="arrow-round-back"></ion-icon>
        </ion-buttons>
        <div class="header-title">
            <img src="../../assets/images/logo.png" alt="" />
        </div>
        <ion-buttons slot="end">            </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <form novalidate [formGroup]="postForm" (ngSubmit)="submitPub()">

      <div id="master-post">
        <ion-textarea formControlName="publicacao" type="text" class="input-post" placeholder="No que você está pensando?"></ion-textarea>  
        <div class="buttons">
          <div (click)="chooseJPG()" class="button">
            <div class="img-button">
              <img src="https://winaero.com/blog/wp-content/uploads/2019/11/Photos-new-icon.png" alt="">
            </div>
            <div class="text-button"><span>Foto</span></div>
          </div>
          <div (click)="choosePDF()" class="button">
            <div class="img-button">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ9fq73LhSXy6jGoM5tlHv_lpUloNGS4_1laTYMhuVS36HKAPUX" alt="">
            </div>
            <div class="text-button"><span>Arquivo</span></div>
          </div>
          <ion-row>
            <ion-col>
              <div class="ion-text-center">
                <ion-label class="font-size" position="stacked" *ngIf="progressUpload == undefined">0%</ion-label>
                <ion-label class="font-size" position="stacked" *ngIf="progressUpload != undefined">{{progressUpload}}%</ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <div class="ion-text-center">
                <ion-progress-bar *ngIf="progressUpload == undefined" value="0"></ion-progress-bar>
                <ion-progress-bar *ngIf="progressUpload != undefined" value="{{progressUpload}}"></ion-progress-bar>
              </div>
          </ion-col>
        </ion-row>
          <div class="button">
            <button type='submit' id="save">Publicar</button>
          </div>
        </div>
      </div>
    </form>
  </ion-content>

