#master-post{
    .input-post{
        width: 100%;
        height: 80px;
        border: 1px solid #c3c3c3;
        border-bottom: none;
    }
    .buttons{
        width: 100%;
        height: 350px;
        .button{
            margin-bottom: 3px;
            display: flex;
            .img-button{
                width: 10%;
                height: 40px;
                border-top: 1px #c3c3c3 solid;
                border-bottom: 1px #c3c3c3 solid;
                padding-left: 5px;
            }
            .text-button{
                width: 90%;
                height: 40px;
                border-top: 1px #c3c3c3 solid;
                border-bottom: 1px #c3c3c3 solid;
                display: flex;
                span{
                    display: flex;
                    align-items: center;
                    padding-left: 15px;
                }
            }
            button{
                width: 100%;
                height: 40px;
                background-color: #00346e;
                border: 1px solid #c3c3c3;
                margin: 15px;
                font-size: 13px;
                color: #fff;
                font-weight: bold;
                border-radius: 4px;
            }
            
        }
    }
    
}