<ion-header no-border class="header-components">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="background-img">
	<ion-grid class="painel-center">
			<ion-row class="painel-body">
				<ion-col size="12">
					<form novalidate #recoverForm="ngForm" (submit)="recover(recoverForm)" *ngIf="!send">

						<!-- Error message -->
						<div class="alert-error" *ngIf="recoverError" translate>{{ recoverError }}</div>

						<!-- Email -->
						<ion-item>
							<ion-label position="stacked" translate>email</ion-label>
							<ion-input [(ngModel)]="email" name="name" type="text"></ion-input>
						</ion-item>

						<!-- Submit -->
						<ion-button type="submit" shape="round" translate>recover_password</ion-button>
					</form>

					<div class="reset-email" *ngIf="send" translate>recover_password_message</div>
				</ion-col>
			</ion-row>
			<ion-row class="painel-footer">
				<p translate>copyright</p>
			</ion-row>
		</ion-grid>
</ion-content>
