<ion-split-pane>
    <ion-menu contentId="content" type="overlay" (ionWillClose)="onMenuClosed()">
        <ion-header no-border>
            <ion-icon name="close" (click)="closeMenu()" class="icon-close"></ion-icon>
        </ion-header>
        <ion-content>
            <ion-list>
                <!-- List Pages -->
                <div *ngFor="let page of pages">
                    <ion-item (click)="openPage(page)" lines="none" [color]="selectPath == page.url ? 'menu-selected' : (page.active ? 'menu-subpages' : 'dark')">
                        <div class="icon"><ion-icon *ngIf="page.icon" [name]="page.icon"></ion-icon><img  *ngIf="page.image" [src]="page.image" alt="" item-start></div>
                        
                        
                        <span translate>{{ page.title }}</span>
                    </ion-item>

                    <div class="submenu" [class.hide-submenu]="!page.active && this.menuInteract" [class.show-submenu]="page.active">
                        <ion-item (click)="openPage(subpage, page)" *ngFor="let subpage of page.subPages" [color]="selectPath == subpage.url ? 'submenu-selected' : 'menu-selected'" lines="none">
                            <ion-icon *ngIf="subpage.icon" [name]="subpage.icon"></ion-icon>
                            <img  *ngIf="subpage.image" [src]="subpage.image" alt="" item-start>
                            <span translate>{{subpage.title}}</span>
                        </ion-item>
                    </div>
                </div>

                <!-- LOGOUT -->
                <div>
                    <ion-item (click)="logout()" lines="none" color="dark">
                        <ion-icon name="power" item-start></ion-icon>
                        <span translate>menu.logout</span>
                    </ion-item>
                </div>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>
