<ion-header no-border class="header-components">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <div class="header-title">
          <img src="../../assets/images/logo.png" alt="" />
      </div>
      <ion-buttons slot="end"></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="loading">
      <div class="loading-image"></div>
      <div padding text-center class="title">
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </div>

      <div padding>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </div>
  </div>

  <div *ngIf="fileItem">
      <!-- <div >
          <video #playerVideo class="player-video" preload="auto">
              <source src="{{ srcData.url }}#t=0.1" type="video/mp4"/>
              Your device not support HTML5 video.
          </video>
          <div (click)="play()" *ngIf="playerVideo" class="video-cover" [class.android-cover]="platform.is('android') && !videoPlayed" [ngStyle]="{'height': playerVideo.offsetHeight + 'px' }">
              <ion-icon name="play-circle" *ngIf="!videoPlayed"></ion-icon>
          </div>
      </div> -->

      <div padding>
          <div class="options-detail">
              <div (click)="download(fileItem)" *ngIf="fileItem.permitir_downloads">
                  <ion-icon name="heart" class="heart" *ngIf="!downloading" [class.liked]="isLocalFile"></ion-icon>
                  <ion-spinner color="primary" *ngIf="downloading"></ion-spinner>
                  <span *ngIf="!downloading" translate>save_favorite</span>
                  <span *ngIf="downloading"><span translate>saving</span>...</span>
              </div>
              <div *ngIf="fileItem.link" (click)="share(fileItem)">
                  <ion-icon name="md-share" class="share" color="primary"></ion-icon>
                  <span translate>share</span>
              </div>
          </div>

          <div class="title-desc">{{ fileItem.nome }}</div>

          <div class="infos">
              <span>
                  <ion-icon name="calendar"></ion-icon>
                  {{fileItem.created_at}}
              </span>
              <span *ngIf="fileItem.extensao">
                  <ion-icon name="attach"></ion-icon>
                  {{ fileItem.extensao }}
              </span>
              <span *ngIf="fileItem.tamanho">
                  <ion-icon name="md-copy"></ion-icon>
                  {{ fileItem.tamanho }}
              </span>
          </div>

          <div *ngIf="fileItem.tags" class="info-tags">
              <ion-chip *ngFor="let tag of fileItem.tags" color="primary" outline>
                  <ion-label color="primary">{{ tag }}</ion-label>
              </ion-chip>
          </div>
      </div>

      <div >
          
          <pdf-viewer
              [src]="srcData.url"
              [zoom]="pdfZoom"
              [render-text]="true"
              [fit-to-page]="true">
          </pdf-viewer>
          <ion-fab vertical="bottom" horizontal="end">
              <ion-fab-button size="small" (click)="zoomIn()">
                  <ion-icon name="add"></ion-icon>
              </ion-fab-button>
              <ion-fab-button size="small" (click)="zoomOut()">
                  <ion-icon name="remove"></ion-icon>
              </ion-fab-button>
              <ion-fab-button size="small" (click)="resetZoom()">
                  <ion-icon name="refresh"></ion-icon>
              </ion-fab-button>
          </ion-fab>
      </div>
  </div>
</ion-content>
