/*Controla o tamanho da telas*/
$break-s: 320px;
$break-m: 375px;
$break-l: 425px;

/*Controla o tamanho das fontes*/
$font-s: 12px;
$font-m: 13px;
$font-l: 15px;

@mixin fontIcon {
	@media screen and (max-width: $break-s) {
		font-size: $font-s;
	}

	@media screen and (min-width: 321px) and (max-width: $break-m) {
		font-size: $font-m;
	}

	@media screen and (min-width: 376px) and (max-width: $break-l) {
		font-size: $font-l;
	}
}

.video-cover {
	position: absolute;
    top: 0;
    right: 0;
    left: 0;

	ion-icon {
		color: #F2F2F2;
		font-size: 100px;
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		filter: drop-shadow(0px 0px 15px var(--ion-color-dark));
	}
}

.android-cover {
	background-color: var(--ion-color-dark);
}


.header-title {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 90px 1px;
	width: 100%;
	height: 100%;
	text-align: center;
}

.title {
	font-size: 1.2rem;
}

.loading-image {
	height: 200px;
	background-color: var(--ion-color-border);
}

pdf-viewer, .player-video {
	width: 100%;
}

pdf-viewer {
	background-color: var(--ion-color-border);
	border-top: 1px solid var(--ion-color-border);
	display: block;
	max-width:100%;
}

ion-fab {
	position:fixed;
}

.player-video {
	background-color: var(--ion-color-border);
}

.title-desc {
	font-size: 1.2rem;
	font-weight: 500;
}

.options-detail {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	div {
		font-size: 11px;
		margin: 0 4px 16px 4px;
		display: flex;
		justify-content:center;
		align-items:center;
		color: var(--ion-color-cinzamedio);

		span {
			// text-transform: uppercase;
		}
	}

	ion-icon, ion-spinner {
		font-size: 1.5rem;
		margin-right: 3px;
		margin-left: 3px;
	}

	ion-spinner {
		width: 1.5rem;
		height: 1.5rem;
	}

	.liked {
		color: var(--ion-color-danger);
		animation-name: likeAnimation;
		animation-duration: 250ms;
	}

	/* Animação de like */
	@keyframes likeAnimation {
		from { transform: scale(1); color: var(--ion-color-cinzamedio); }
		to { transform: scale(2.5); color: rgba(255, 0, 0, 0.1); }
	}
}

.infos {
	text-align: center;
	border: 1px solid var(--ion-color-border);
	border-radius: 3px;
	padding: 6px 8px;
	margin-top: 8px;
	height: 30px;

	span {
		margin-right: 10px;
		display: flex;
		align-items: center;
		float: left;
		@include fontIcon;
		color: var(--ion-color-primary);
		// text-transform: uppercase;

		ion-icon {
			margin-right: 5px;
			color: var(--ion-color-cinzamedio);
		}

		ion-icon[name="square"] {
			color: var(--ion-color-border);
		}
	}
}

.info-desc {
	font-size: 0.8rem;
	color: var(--ion-color-cinzaclaro);
	padding: 16px 0;
}

.info-tags {
	margin-top: 12px;
}
