.ion-text-center {
    margin-top: 64px;
}

.title {
    // text-transform: uppercase;
}

.loading-skeleton {

    div {
        display: flex;

        ion-skeleton-text {
            height: 30px;
            border-radius: 15px;
            width: 33%;
            margin: 8px;
        }
    }
}

.tags {
    margin-top: 24px;
}
