<ion-header no-border class="header-components">
    <ion-toolbar>
      <ion-buttons slot="start">
             <ion-menu-button>
                <img src="../../assets/images/icon/menu-icon.png" alt="">
             </ion-menu-button>
          </ion-buttons>
      <img src="../../assets/images/logo.png" alt="">
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="notifications-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row class="news">
        <ion-col size="12" class="title">
          <p translate>menu.documents</p>
        </ion-col>  
        <ion-col size="12" class="category" *ngFor="let item of categories" >
          <ion-item lines="none" class="category-title" (click)="openCategory(item)">
            <ion-img src="/assets/images/icon/{{ item.open ? 'folder-open.png' : 'folder-close.png' }}"></ion-img>
            {{item.nome}}
          </ion-item>
  
          <ion-list *ngIf="item.open" mode="md" padding>
  
            <ion-item *ngFor="let item of filterItem" class=" file-item" lines="none" no-padding>
              <!-- <ion-col>
                <ion-skeleton-text animated style="width: 60%; height: 1rem;"></ion-skeleton-text>
              </ion-col> -->
  
              <ion-col   no-padding (click)="openDetail(item.id)">
                <p size="12">{{item.nome}}</p>
  
                <div size="12">
                  <span>
                    <ion-icon name="calendar"></ion-icon>
                    {{item.created_at}}
                  </span>
                </div>
              </ion-col>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="12" class="category" *ngFor="let item of categories1" >
          <ion-item lines="none" class="category-title" (click)="openCategory(item)">
            <ion-img src="/assets/images/icon/{{ item.open ? 'folder-open.png' : 'folder-close.png' }}"></ion-img>
            {{item.nome}}
          </ion-item>
  
          <ion-list *ngIf="item.open" mode="md" padding>
  
            <ion-item *ngFor="let item of filterItem1" class=" file-item" lines="none" no-padding>
              <!-- <ion-col>
                <ion-skeleton-text animated style="width: 60%; height: 1rem;"></ion-skeleton-text>
              </ion-col> -->
  
              <ion-col   no-padding (click)="openDetail(item.id)">
                <p size="12">{{item.nome}}</p>
  
                <div size="12">
                  <span>
                    <ion-icon name="calendar"></ion-icon>
                    {{item.created_at}}
                  </span>
                </div>
              </ion-col>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="12" class="category" *ngFor="let item of categories2" >
          <ion-item lines="none" class="category-title" (click)="openCategory(item)">
            <ion-img src="/assets/images/icon/{{ item.open ? 'folder-open.png' : 'folder-close.png' }}"></ion-img>
            {{item.nome}}
          </ion-item>
  
          <ion-list *ngIf="item.open" mode="md" padding>
  
            <ion-item *ngFor="let item of filterItem2" class=" file-item" lines="none" no-padding>
              <!-- <ion-col>
                <ion-skeleton-text animated style="width: 60%; height: 1rem;"></ion-skeleton-text>
              </ion-col> -->
  
              <ion-col   no-padding (click)="openDetail(item.id)">
                <p size="12">{{item.nome}}</p>
  
                <div size="12">
                  <span>
                    <ion-icon name="calendar"></ion-icon>
                    {{item.created_at}}
                  </span>
                </div>
              </ion-col>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  