/*Controla o tamanho da telas*/
$break-s: 320px;
$break-m: 375px;
$break-l: 425px;

/*Controla o tamanho das fontes*/
$font-s: 12px;
$font-m: 13px;
$font-l: 15px;

@mixin fontIcon {
	@media screen and (max-width: $break-s) {
		font-size: $font-s;
	}

	@media screen and (min-width: 321px) and (max-width: $break-m) {
		font-size: $font-m;
	}

	@media screen and (min-width: 376px) and (max-width: $break-l) {
		font-size: $font-l;
	}
}

ion-header {
	background: var(--ion-color-background);
}

ion-content, ion-toolbar {
	--background: var(--ion-color-background);
}
.none{
	display: none;
}

.title {
	span {
		text-transform: uppercase;
	}
}

.category {
	background-color: white;
	margin-top: 8px;
	border-radius: 6px;
	text-transform: uppercase;

	ion-item {
		--background: none;
	}

	&-title {
		font-size: 1rem;
		color: var(--ion-color-dark);
	}

	ion-img, &-image-skeleton {
		width: 1.2rem;
		height: 1.2rem;
		margin-right: 8px;
	}

	&-image-skeleton {
		background: #EEE;
	}
}

.file-item {
	border-top: 1px solid #DDDDDD;
	padding: 0;
	margin: 0;
}

ion-list {
	background: transparent;
	text-align: left;

	ion-item {
		--inner-padding-end: 0;
		margin-bottom: 2px;
		margin-top: 4px;

		ion-col {
			padding: 0;
		}

		ion-img {
			width: 100%;
		}

		ion-skeleton-text {
			margin-right: 4px;
			margin-top: 8px;
			margin-bottom: 8px;
		}

		p {
			font-size: 0.9rem;
			margin-top: 8px;
			margin-bottom: 5px;
		}

		div {

			span {
				margin-right: 10px;
				display: flex;
				align-items: center;
				float: left;
				margin-bottom: 14px;
				@include fontIcon;
				color: var(--ion-color-primary);
				text-transform: uppercase;

				ion-icon {
					margin-right: 5px;
					color: var(--ion-color-cinzamedio);
				}

				ion-icon[name="square"] {
					color: #DDD;
				}
			}
		}

		.icons {
			position: absolute;
			bottom: 0;
			right: 0;
			padding-bottom: 8px;
			padding-right: 8px;
			text-align: right;

			ion-icon {
				margin-right: 5px;
			}

			.share{
				color: var(--ion-color-primary);
				font-size: 20px;
			}

			.heart{
				font-size: 20px;
				color: var(--ion-color-cinzamedio);
			}

			.liked {
				color: var(--ion-color-danger);
				animation-name: likeAnimation;
				animation-duration: 250ms;
			}

			/* Animação de like */
			@keyframes likeAnimation {
				from { transform: scale(1); color: var(--ion-color-cinzamedio); }
				to { transform: scale(1.8); color: rgba(255, 0, 0, 0.1); }
			}
		}
	}
}
