<form novalidate [formGroup]="innovationForm" (ngSubmit)="submitInnovation()">
    <ion-list >
      <ion-list-header color="dark">
        <ion-label class="fw700" translate>newInnovation</ion-label>
      </ion-list-header>
      <p for="" translate>title.innovation</p>
      <ion-item color="" class="text-10">
        <ion-input formControlName="titulo"></ion-input>
      </ion-item>
      <p for="" translate>desc.innovation</p>
      <ion-item color="" class="text-10">
        <ion-textarea formControlName="descricao" rows="10"></ion-textarea>
      </ion-item>
        <!-- <label for='selecao-arquivo' translate>select_archive</label> -->
        <!-- <input formControlName="arquivo" id='selecao-arquivo' type='file'> -->
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <ion-button ion-button block (click)="choose()">Upload PDF</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
            <div class="ion-text-center">
              <ion-label class="font-size" position="stacked" *ngIf="progressUpload == undefined">0%</ion-label>
              <ion-label class="font-size" position="stacked" *ngIf="progressUpload != undefined">{{progressUpload}}%</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <div class="ion-text-center">
              <ion-progress-bar *ngIf="progressUpload == undefined" value="0"></ion-progress-bar>
              <ion-progress-bar *ngIf="progressUpload != undefined" value="{{progressUpload}}"></ion-progress-bar>
            </div>
        </ion-col>
      </ion-row>
      
    </ion-list>
    <ion-row>
      <ion-col>
        <ion-button type='submit' class=" button-popover" id="save"  translate>save</ion-button>
      </ion-col>
    </ion-row>
  </form>

