

ion-list {
    background-color: var(--ion-color-background);
    &.list-ios {
        margin: 0px;
    }
    input[type='file'] {
        display: none
      }
      
      /* Aparência que terá o seletor de arquivo */
      label {
        background-color: #2373ab;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        // margin: 5px 5px 5px 20px;
        padding: 5px 0px 5px 0px;
        text-align: center;
        width: 100%;
      }
}

ion-item{
    margin: 5px 5px 0px 5px;
    // padding: 0px 0px 0px 0px;
    
}
// .div-button-popover{
//     margin-left: -10px;
// }
form{
    background-color: var(--ion-color-background);
}
.button-popover{
    width: 100%;
    height: 35px;
}
.list-md{
    padding-top: 0px; 
}
p{
    margin: 10px 0px -5px 20px;
    // font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    color: grey;
}
