<app-header></app-header>

<ion-content>
	<ion-grid>
		<ion-row class="profile">
			<ion-col size="12" class="title" translate>
				<p translate>menu.profile</p> <ion-icon name="ios-arrow-forward"></ion-icon> <span translate>edit_profile</span>
			</ion-col>
			<ion-col *ngIf="!loading" size="12" text-center class="img" (click)="presentActionSheet()">
				<img [src]="base64Image" alt="" class="img-profile">
				<p translate>change_photo</p>
			</ion-col>
			<ion-col *ngIf="loading" size="12" class="image-spinner">
				<!-- Loading -->
				<ion-spinner name="crescent"></ion-spinner>
			</ion-col>
			<ion-col size="12">

				<form novalidate [formGroup]="profileForm" (ngSubmit)="submitLogin()">
					<ion-list>
						<ion-item>
							<ion-label position="stacked" translate>name</ion-label>
							<ion-input type="text" formControlName="nome"></ion-input>
						</ion-item>

						<ion-item>
							<ion-label position="stacked" translate>location</ion-label>
							<ion-input type="text" formControlName="localizacao"></ion-input>
						</ion-item>

						<ion-item>
							<ion-label position="stacked" translate>company</ion-label>
							<ion-input type="text" formControlName="empresa"></ion-input>
						</ion-item>

						<ion-item>
							<ion-label position="stacked" translate>email</ion-label>
							<ion-input type="email" formControlName="email"></ion-input>
						</ion-item>

						<ion-item>
							<ion-label position="stacked" password translate>password</ion-label>
							<ion-input type="password" formControlName="password"></ion-input>
						</ion-item>

						<ion-item>
							<ion-label position="stacked" translate>date_birth</ion-label>
							<ion-datetime display-format="DD/MM/YYYY" picker-format="DD MMMM YYYY" type="date" formControlName="data_nascimento"></ion-datetime>
						</ion-item>

						<ion-item *ngIf="false">
							<ion-label position="stacked" translate>phone</ion-label>
							<ion-input type="tel" formControlName="telefone"></ion-input>
						</ion-item>

						<div *ngIf="false" class="select-news">
							<ion-label translate>menu.news</ion-label>
							<div class="select-news-link" (click)="openNews()" translate>select_news</div>
						</div>
						<div class="button">
							<button-padrao (click)="presentModal()" label="Interesses">  </button-padrao>
						</div>
						<div class="button">
							<button-padrao label="{{ 'save' | translate }}" (click)="submitLogin()"></button-padrao>
						</div>
					</ion-list>
				</form>
			</ion-col>
		</ion-row>
		<ion-row class="content-center">
			Versão 0.9.19
		</ion-row>
	</ion-grid>
</ion-content>
