/*Controla o tamanho da telas*/
$break-s: 320px;
$break-m: 375px;
$break-l: 425px;

/*Controla o tamanho das fontes*/
$font-s: 13px;
$font-m: 14px;
$font-l: 15px;

@mixin fontIcon {
	@media screen and (max-width: $break-s) {
		font-size: $font-s;
	}

	@media screen and (min-width: 321px) and (max-width: $break-m) {
		font-size: $font-m;
	}

	@media screen and (min-width: 376px) and (max-width: $break-l) {
		font-size: $font-l;
	}
}

@mixin containerIcons {
	width: 100%;
	padding: 10px 0px;
}

@mixin iconSpace($tamanho) {
	margin-right: $tamanho;
	color: var(--ion-color-cinzamedio);
}


ion-content {
	color: var(--ion-color-cinzaclaro);

	ion-spinner {
		margin: auto;
	}

	ion-grid {
		.input-search {
			border: 1px solid var(--ion-color-cinzaclaro);

			ion-input {
				--padding-top: 5px;
				--padding-end: 0;
				--padding-bottom: 0px;
				--padding-start: 8px;
			}

			ion-icon {
				font-size: 25px;
			}
		}

		.title-home {
			@media screen and (max-width: $break-s) {
				font-size: 15px;
			}

			@media screen and (min-width: 321px) and (max-width: $break-m) {
				font-size: 18px;
			}

			@media screen and (min-width: 376px) and (max-width: $break-l) {
				font-size: 20px;
			}

			color: var(--ion-color-primary);
			// text-transform: uppercase;
			margin-bottom: 0;
			padding-top: 8px;
		}
		.title-home-pd{
			// padding-left: 20px;
		}
		.banner-home{
			
			// margin-bottom: 30px;
			img{
				max-width: 100%;
			    height: 115px;
			}
		}

		.slide-box {
			ion-slides {
				padding-bottom: 35px;

				.swiper-pagination-bullet {
					background: var(--ion-color-primary) !important;
				}
				ion-slide {
					.BoxImg {
						width: 100%;
						height: 250px;
						background-size: cover;
						background-position: center;
						display: flex;
						align-items: flex-end;
					}

					.box-title {
						@include fontIcon;
						width: 100%;
						font-size: 13px;
						background: rgba(var(--ion-color-dark-rgb), 0.65);
						color: var(--ion-color-background);
						padding: 10px;
						text-align: left;

						&-desc {
							display: block;
							display: -webkit-box;
							height: 50px;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
							overflow: hidden;
							text-overflow: ellipsis;
							padding: 0 !important;
						}

						div {
							@include containerIcons;
						}

						span {
							margin-right: 10px;
							display: flex;
							align-items: end;
							float: left;

							ion-icon {
								margin-right: 5px;
							}
						}
					}
				}
			}
		}

		.tvCoporativa {

			img {
				max-height: 90%;
			}

			.box-text {
				display: flex;
				align-items: center;
			}

			.box-title {
				@include fontIcon;
				text-align: justify;

				div {
					@include containerIcons;
				}

				span {
					margin-right: 5px;
					display: flex;
					align-items: end;
					float: left;
					color: var(--ion-color-primary);
					@include fontIcon;

					ion-icon{
						@include iconSpace(2px);
					}
				}


			}
		}

		.ultimasNoticias {
			.box-title {
				@include fontIcon;
				padding: 10px;
				text-align: left;
				background-color: var(--ion-color-light);

				div {
					@include containerIcons;
				}

				span {
					margin-right: 5px;
					display: flex;
					align-items: end;
					float: left;
					margin-bottom: 10px;
					@include fontIcon;
					color: var(--ion-color-primary);

					ion-icon{
						@include iconSpace(5px);
					}
				}
			}
		}

		ion-list {
			&.list-ios {
				margin-left: -20px;
				margin-right: -15px;
				margin-top: -1px;
				margin-bottom: 32px;
			}
			&.list-md{
				margin-left: -21px;
				margin-right: -21px;
				margin-top: 0;
				margin-bottom: 0;
				padding-left: 0;
				padding-right: 0;
				padding-top: 8px;
				padding-bottom: 8px;
				background: var(--ion-item-background,var(--ion-background-color,#fff));
			
			}
		}
		

		.openInnovattions {
			.sub-title-home {
				@include fontIcon;
				color: var(--ion-color-medium);
			}

			.filtro {
				color: var(--ion-color-primary);
				@include fontIcon;
				text-align: right;
				display: flex;
				align-items: center;
				left: 5%;

				ion-icon {
					margin-left: 5px;
				}
			}

			.box-title {
				@include fontIcon;

				div {
					@include containerIcons;
					padding-left: 10px;
					padding-right: 10px;
					border: 1px solid var(--ion-color-medium);
					text-align: left;
				}

				span {
					@include fontIcon;
					width: 100%;
					color: var(--ion-color-primary);
					display: block;
					text-align: center;
					padding-bottom: 10px;

					ion-icon {
						@include iconSpace(2px);
					}
				}
			}
		}
	}
}
