<app-header></app-header>
<ion-content>
  <ion-grid>
    <ion-row class="input-search" *ngIf="false">
      <ion-col size="10">
        <ion-input placeholder=""></ion-input>
      </ion-col>
      <ion-col size="2" text-right>
        <ion-icon name="search" item-right></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="slide-box">
      <ion-col size="12">
        <h2 class="title-home" translate>highlights</h2>
      </ion-col>
      <ion-col size="12" class="ion-text-center" *ngIf="!highlights"
        ><ion-spinner name="crescent" color="medium"></ion-spinner
      ></ion-col>
      <ion-col size="12" *ngIf="highlights">
        <ion-slides [options]="slideOptsOne" pager="true">
          <ion-slide
            *ngFor="let highlight of filterHighlights"
            class="slides-img"
          >
            <div
              class="BoxImg"
              [style.background-image]="
                'url(' + highlight.imagem + ')' | safe: 'style'
              "
              (click)="openHighlight(highlight)"
            >
              <div class="box-title">
                <div class="box-title-desc">{{ highlight.titulo }}</div>
                <div>
                  <span>
                    <!-- <ion-icon name="calendar"></ion-icon>  -->
                    <!-- {{ setDate(highlight.created_at) | date: 'dd MMM' }} -->
                  </span>
                  <span *ngIf="fbService.countItems('views', highlight)">
                    <ion-icon name="eye"></ion-icon>
                    {{ fbService.countItems("views", highlight) }}
                  </span>
                  <span *ngIf="fbService.countItems('likes', highlight)">
                    <ion-icon name="heart"></ion-icon>
                    {{ fbService.countItems("likes", highlight) }}
                  </span>
                </div>
              </div>
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row class="ultimasNoticias">
      <!-- <ion-col size="12" class="ion-text-center"><ion-spinner name="crescent" color="medium"></ion-spinner></ion-col> -->
      <ion-col size="12">
        <ion-list lines="none">
          <ion-item class="banner-home">
            <ion-col size="12">
              <ion-row class="ultimasNoticias">
                <img
                  *ngIf="userIdioma == 'pt'"
                  (click)="openProducts()"
                  src="../../../assets/images/Banner_Prancheta 1.png"
                  alt=""
                />
                <img
                  *ngIf="userIdioma == 'en'"
                  (click)="openProducts()"
                  src="../../../assets/images/Banner_Prancheta_en.png"
                  alt=""
                />
              </ion-row>
            </ion-col>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <!--
        <ion-row class="tvCoporativa">
            <ion-col size="12">
                <h2  class="title-home">TV CORPORATIVA</h2>
            </ion-col>
            <ion-col size="6" class="box-text">
                <div class="box-title">
                    {{tvCorporativa.text}}
                    <div>
                        <span>
                            <ion-icon name="calendar"></ion-icon>
                            {{tvCorporativa.data}}
                        </span>
                        <span>
                            <ion-icon name="eye"></ion-icon>
                            {{tvCorporativa.view}}
                        </span>
                        <span>
                            <ion-icon name="heart"></ion-icon>
                            {{tvCorporativa.amei}}
                        </span>
                    </div>
                </div>
            </ion-col>
            <ion-col size="6">
                <img src="/assets/images/home/{{tvCorporativa.img}}" alt="">
            </ion-col>
        </ion-row>
        -->
    <ion-row class="ultimasNoticias">
      <ion-col size="12">
        <h2 class="title-home title-home-pd" translate>lastNews</h2>
      </ion-col>
      <ion-col size="12" class="ion-text-center"
        ><ion-spinner
          *ngIf="!allProducts"
          name="crescent"
          color="medium"
        ></ion-spinner
      ></ion-col>
      <ion-col size="12">
        <ion-list lines="none">
          <ion-item *ngFor="let notices of notice" (click)="openNews(notices)">
            <ion-col size="12">
              <ion-img size="12" [src]="notices.imagem"></ion-img>
              <div class="box-title">
                {{ notices.titulo }}
                <div>
                  <span>
                    <ion-icon name="calendar"></ion-icon>
                    {{ setDate(notices.de) | date: "dd MMM" }}
                  </span>
                  <span *ngIf="fbService.countItems('views', notices)">
                    <ion-icon name="eye"></ion-icon>
                    {{ fbService.countItems("views", notices) }}
                  </span>
                </div>
              </div>
            </ion-col>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <!--
        <ion-row class="openInnovattions">
            <ion-col size="12">
                <h2  class="title-home">OPEN INNOVATIONS</h2>
            </ion-col>
            <ion-col size="8" class="sub-title-home">
                Projetos publicados na íltima semana
            </ion-col>
            <ion-col size="4" class="filtro">
                <span>FILTRAR</span>
                <ion-icon name="arrow-dropdown"></ion-icon>
            </ion-col>
            <ion-col size="12">
                <ion-slides pager="false"  loop="true" [options]="sliderConfiOpen">
                    <ion-slide *ngFor="let noticias of ultimasNoticias">
                        <div class="BoxImg">
                            <div class="box-title">
                                <div>
                                    <span>
                                        <ion-icon name="calendar"></ion-icon>
                                        {{noticias.data}}
                                    </span>
                                    {{noticias.text}}
                                </div>
                            </div>
                        </div>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
        -->
  </ion-grid>
</ion-content>
