<ion-header no-border class="header-components">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon (click)="closeModal()" name="arrow-round-back"></ion-icon>
        </ion-buttons>
        <div class="header-title">
            <img src="../../assets/images/logo.png" alt="" />
        </div>
        <ion-buttons slot="end">            </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="container-coments" >
    <div *ngFor="let product of allItems">
      <ion-card *ngIf="product.status == 1" (click)="presentActionSheet(product.nome, product.idComment)">
        <div  >
          <ion-card-header>
            <ion-row>
              <ion-col>{{ product.nome }}</ion-col>
              <ion-col class="date">{{ setDate(product.data) | date: "dd MMM" }}</ion-col>
            </ion-row>
            
            <!-- <div ></div> -->
          </ion-card-header>
        
          <ion-card-content class="text-comment">
            {{ product.comentario }}
          </ion-card-content>
      </div>
      
      </ion-card>
    </div>
  </div>
      <form novalidate [formGroup]="commentForm" (ngSubmit)="submitInnovation()">
        <ion-footer class="link">
              <ion-list>
                  <ion-item>
                    <!-- <ion-label position="stacked" translate>your-comment</ion-label> -->
                    <!-- <ion-label fixed>Comente...</ion-label> -->
                    <ion-input formControlName="comentario" id="inputTitle" placeholder="" type="text" value="" [(ngModel)]="searchValue"></ion-input>
                    <button type='submit' ion-button id="save" translate><ion-icon name="checkmark"></ion-icon></button>
                  </ion-item>
                </ion-list>
        </ion-footer>
      </form>

</ion-content>
