.row-comment{
    background-color: green;
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    .comment{
        width: 90%;
        margin-top: 5px;
        min-height: 60px;
        background-color: red;
    }
}
.link {
    // text-transform: uppercase;
    background-color: var(--ion-color-dark);
    color: var(--ion-color-primary-contrast);
    font-family: 'GillSans';
    letter-spacing: 2px;
    padding: 8px;
    position: fixed;
    left: 0;
    right: 0; 
    bottom: 0;
    text-align: center;
    text-decoration: none;
    display: contents;
    ion-list{
        bottom: 0;
        position: initial;
        width: 100%;
    }
    ion-toolbar{
        background-color: var(--ion-color-dark);
        display: contents;
        div{
            background-color: var(--ion-color-dark);
            width: 100%;
            height: 40px;
            margin: 0px;
            padding: 10px;
            text-decoration: none;
        
        }
    }
    button{
        background-color: var(--ion-color-dark);
        color: white;
        border-top: 0px white solid;
        margin: 0px 0px 0px 0px;
        padding: 0px;
        text-decoration: none;
        // width: 100%;
        height: 30px;
    }
    input{
        width: 80%;
        margin-top: 0px;
        height: 40px;
        border: black 1px solid;
        
    }
    ion-icon{
        font-size: 30px;
    }
    
}
ion-card-header{
    color: #00346e;
    margin-bottom: -15px;
}
.container-coments{
    min-height: 510px;
}
.date{
    display: flex;
    justify-content: flex-end;
    color: #666;
}
.text-comment{
    margin: 0px 0px 0px 5px;
}
.placeholder{
    
}