/* Using SCSS variables to store breakpoints */
$breakpoint-mobile-568px: 568px;
$breakpoint-mobile-640px: 640px;
$breakpoint-mobile-600px: 600px;

/*Controla o tamanho da telas*/
$break-s: 320px;
$break-m: 375px;
$break-l: 425px;

/*Controla o tamanho das fontes*/
$font-s: 9px;
$font-m: 11px;
$font-l: 12px;

@mixin fontFooter {
	@media screen and (max-width: $break-s) {
		font-size: $font-s;
	}

	@media screen and (min-width: 321px) and (max-width: $break-m) {
		font-size: $font-m;
	}

	@media screen and (min-width: 376px) and (max-width: $break-l) {
		font-size: $font-l;
	}
}

.input-error {
	--border-color: red;
}

:host {
	ion-content				  {
		text-align: center;
		color: var(--ion-color-cinzaclaro);

		.painel-center {
			height: 100%;

			.painel-body{
				height: 80%;

				.box-one{
					margin-top: 35%!important;
					margin-bottom: 30px;
					@media (max-height: $breakpoint-mobile-568px) {
						margin-top: 10%!important;
					}

					@media (min-height: $breakpoint-mobile-600px) and (max-height: $breakpoint-mobile-640px) {
						margin-top: 25%!important;
					}

					.welcome {
						text-align: center;
						font-size: 1.5rem;
						color: var(--ion-color-cinzaclaro);
					}
					.sub-title{
						font-family: Roboto-Thin-webfont;
						color: var(--ion-color-cinzamedio);
						font-weight: bold;
						font-size: 2.1rem;
						letter-spacing: 5px;
						// text-transform: uppercase;
					}
				}

				.box-two{
					margin: 10px 0px 30px;
					color: var(--ion-color-cinzaclaro);
				}

				.box-link{
					// text-transform: uppercase;
					margin-top: 20px;
					font-size: 12px;
					color: #306EAF;
				}
			}

			.painel-footer{
				height: 20%;
				bottom: 0px;
				position: relative;
				text-align: center;

				p{
					position: absolute;
					bottom: 0px;
					@include fontFooter;
					color: #fff;
					width: 100%;
				}
			}
		}
	}
}
