<ion-content class="background-img">
	<ion-grid class="painel-center">
		<ion-row class="painel-body">
			<ion-col size="12">
				<div class="box-one">
					<div class="welcome" translate>welcome</div>
					<div style="text-transform: uppercase" class="sub-title">Chemyunion</div>
				</div>

				<div class="box-two" translate>start_message</div>

				<div>
					<div>
						<ion-button shape="round" (click)="cadastro()" translate>register</ion-button>
					</div>
					<div class="box-link">
						<a (click)="login()" translate>have_registration</a>
					</div>
				</div>
			</ion-col>
		</ion-row>
		<ion-row class="painel-footer">
			<p translate>copyright</p>
		</ion-row>
	</ion-grid>
</ion-content>
