<ion-header no-border class="header-components">
	<ion-toolbar>
		<ion-buttons slot="start">
            <ion-back-button icon="close"></ion-back-button>
        </ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<div class="terms" [innerHTML]="text | safe:'html'" padding></div>
</ion-content>
