<ion-header no-border class="header-components">
	<ion-toolbar>
		<ion-buttons slot="start">
           <ion-back-button></ion-back-button>
        </ion-buttons>
        <div class="header-title">
            <img src="../../assets/images/logo.png" alt="" />
        </div>
        <ion-buttons slot="end"></ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="loading" padding>
    	<div padding text-center class="title">
    		<ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    	</div>

		<div padding>
			<ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
			<ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
			<ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
			<ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
		</div>
    </div>

	<div *ngIf="detail" class="div-total">
		<ion-col size="12" class="title" padding>
			<p translate>menu.products</p> <ion-icon name="ios-arrow-forward"></ion-icon> <span translate>{{ detail.titulo }}</span>
		</ion-col>

		<ion-row>
			<ion-col size="12" class="title padding-title" padding>
				<span translate>products.about</span>
			</ion-col>
			<div class="detail-container" padding>
				<div [innerHtml]="detail.sobre"></div>
			</div>
		</ion-row>
		<ion-row>
			<ion-col size="12" class="title padding-title" padding>
				<span translate>products.use</span>
			</ion-col>
			<div class="detail-container" padding>
				<div [innerHtml]="detail.uso"></div>
			</div>
		</ion-row>
		<ion-row>
			<ion-col size="12" class="title padding-title" padding>
				<span translate>products.application</span>
			</ion-col>
			<div class="detail-container" padding>
				<div [innerHtml]="detail.aplicacao"></div>
			</div>
		</ion-row>
		<ion-row>
			<ion-col size="12" class="title padding-title" padding>
				<span translate>INCI</span>
			</ion-col>
			<div class="detail-container-inci" padding>
				<div class="inci" [innerHtml]="detail.inci"></div>
			</div>
		</ion-row>
		<!-- <div class="link">
			<a class="" *ngIf="detail.mais" [href]="detail.mais" target="_blank" translate>more_link</a>			
		</div> -->
		<ion-footer class="link">
			<ion-toolbar>
				<!-- <div><a *ngIf="detail.mais" [href]="detail.mais" target="_blank" translate>more_link</a></div> -->
				<button ion-button (click)="onLinkButtonClicked(detail.mais)" translate>more_link</button>
			</ion-toolbar>
		</ion-footer>
	</div>

	<div *ngIf="!loading && detail && !detail.sobre" text-center translate>notfound_product</div>
</ion-content>
