<ion-header no-border class="header-components">
	<ion-toolbar>
		<ion-buttons slot="start">
           <ion-back-button></ion-back-button>
        </ion-buttons>
        <div class="header-title">
            <img src="../../assets/images/logo.png" alt="" />
        </div>
        <ion-buttons slot="end"></ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="loading">
        <div class="loading-image"></div>
    	<div padding text-center class="title">
    		<ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    	</div>

		<div padding>
			<ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
			<ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
			<ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
			<ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
		</div>
    </div>

    <div *ngIf="news">
        <ion-img [src]="news.imagem" *ngIf="news.imagem"></ion-img>
    	<div padding text-center class="title">
    		{{ news.titulo }}
    	</div>
		<div [innerHtml]="news.conteudo" padding></div>
	</div>
	<div>
		<div class="container-coments" >
			<div *ngFor="let product of allItems">
			<ion-card *ngIf="product.status == 1" id="{{product.idComment}}"  (click)="presentActionSheet(product.nome, product.idComment)">
				<div  >
				<ion-card-header>
					<ion-row>
					<ion-col>{{ product.nome }}</ion-col>
					<ion-col class="date">{{ setDate(product.data) | date: "dd MMM" }}</ion-col>
					</ion-row>
					
					<!-- <div ></div> -->
				</ion-card-header>
				
				<ion-card-content class="text-comment">
					{{ product.comentario }}
				</ion-card-content>
			</div>
			
			</ion-card>
			</div>
		</div>
		<form novalidate [formGroup]="commentForm" (ngSubmit)="submitInnovation()">
			<ion-footer class="link">
				<ion-list>
					<ion-item>
						<!-- <ion-label position="stacked" translate>your-comment</ion-label> -->
						<!-- <ion-label fixed>Comente...</ion-label> -->
						<ion-input formControlName="comentario" id="inputTitle" placeholder="" type="text" value="" [(ngModel)]="searchValue"></ion-input>
						<button type='submit' ion-button id="save" translate><ion-icon name="checkmark"></ion-icon></button>
					</ion-item>
					</ion-list>
			</ion-footer>
		</form>
	</div>
	<!-- <ion-footer class="link">
		<ion-toolbar>
			<div><a *ngIf="detail.mais" [href]="detail.mais" target="_blank" translate>more_link</a></div>
			<button ion-button (click)="presentModal()" translate>comment</button>
		</ion-toolbar>
	</ion-footer> -->
</ion-content>
