<app-header></app-header>

<ion-content>
  <h2 padding translate>menu.contact</h2>

  <div class="list">
		<ion-list lines="none">
			<ion-row>
				<ion-col size="12">
					<ion-row class="title" translate>
						br
					</ion-row>
					<ion-row >
						<span (click)="openMapsBR()" class="date"><ion-icon name="pin"></ion-icon><span class="space">Avenida Independência, 1501 • Sorocaba/SP • CEP:18087-101</span></span><br>
						<span (click)="callContactBr()" class="date"><ion-icon name="call"></ion-icon><span  class="space" translate>phone</span>: +55 15 2102 2000</span><br>
						<span class="date"><ion-icon name="ios-mail"></ion-icon><span  class="space" translate>E-mail</span>: contato@chemyunion.com</span>
					</ion-row>
				</ion-col>
			</ion-row>
    </ion-list>
    <ion-list lines="none">
			<ion-row>
				<ion-col size="12">
					<ion-row class="title" translate>
						unidos
					</ion-row>
					<ion-row >
						<span (click)="openMapsUS()" class="date"><ion-icon name="pin"></ion-icon><span class="space" translate>usa</span> </span><br>
						<span (click)="callContactEn()" class="date"><ion-icon name="call"></ion-icon><span  class="space" translate>phone</span>: +1 732 529 0964</span><br>
						<span class="date"><ion-icon name="ios-mail"></ion-icon><span  class="space" translate>E-mail</span>: contact@chemyunion.com</span>
					</ion-row>
				</ion-col>
			</ion-row>
    </ion-list>
    <ion-list lines="none">
			<ion-row>
				<ion-col size="12">
					<ion-row class="title" translate>
						colombia
					</ion-row>
					<ion-row >
						<span (click)="openMapsCL()" class="date"><ion-icon name="pin"></ion-icon><span class="space">Carrera 7 #70A-21 • Oficina 407 Bogotá</span></span><br>
						<span (click)="callContactCol()" class="date"><ion-icon name="call"></ion-icon><span  class="space" translate>phone</span>: +57 1 302 6555</span>
						<span class="date"><ion-icon name="ios-mail"></ion-icon><span  class="space" translate>E-mail</span>: contacto@chemyunion.com</span>

					</ion-row>
				</ion-col>
			</ion-row>
		</ion-list>
	</div>
</ion-content>
